/* styles.css */

/* Navbar styles */
.navbar {
    background-color: #28282B;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-brand {
    color: #FDFBF9;
    font-size: 28px;
    font-weight: 750;
}

.navbar-nav .nav-link {
    color: #FDFBF9;
    font-weight: 500;
    font-size: 18px;
}

.navbar-nav .nav-link.logout {
    color: #e74c3c;
}

/* Dashboard background */
.dashboard-bg {
    background-image: url('https://wallpaper.dog/large/17164062.jpg'); /* Adjust the path */
    background-size: cover;
    background-position: center;
    color: white;
    padding: 100px 0;
}

/* Card styles */
.card-title {
    font-size: 1.5rem;
}

/* Footer styles */
.footer {
    background-color: #28282B;
    color: #FDFBF9;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    padding: 20px 0;
}

.footer p {
    margin: 0;
}
