<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <!-- Include Bootstrap CSS link -->

    <link rel="stylesheet" href="{{ url_for('static', filename='css/dashboard.css') }}">


</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-3">
<div class="container-fluid">
  <a class="navbar-brand" href="{{ url_for('home') }}">Quizzer</a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class=" collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav ms-auto ">
      <li class="nav-item">
        <a class="nav-link mx-2" aria-current="page" href="{{ url_for('home') }}">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link mx-2 active" href="{{ url_for('dashboard') }}">Dashboard</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link mx-2 dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
          {{ email }}
        </a>
        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <li><a class="dropdown-item" href="{{ url_for('logout') }}">Logout</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
</nav>


<main>
    <div class="container">
        <h1>Your Stats</h1>
        <hr>
  <div class="row">
    <div class="col-md-4 col-xl-3">
      <div class="card bg-black order-card">
        <div class="card-block">
          <h6 class="m-b-20">
            High Score
          </h6>
          <h2 class="text-center">
            <span class="high-score">{{ highest_score }}</span>
          </h2>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-xl-3">
      <div class="card bg-black order-card">
        <div class="card-block">
          <h6 class="m-b-20">
            Avg Score ({{ numOfQuiz }} games)
          </h6>
          <h2 class="text-center">
            <span class="avg-score">{{ average_score }}</span>
          </h2>
        </div>
      </div>
    </div>

    <div class="col-md-4 col-xl-3">
      <div class="card bg-black order-card">
        <div class="card-block">
          <h6 class="m-b-20">
            Low Score
          </h6>
          <h2 class="text-center">
            <span class="low-score">{{ lowest_score }}</span>
          </h2>
        </div>
      </div>
    </div>
  </div>
</div>


        <div class="container">
            <h1>Quiz History</h1>
            <hr>
            <table class="table table-dark table-striped text-center custom-rounded">
    <thead>
      <tr>
        <th scope="col">Sr. No</th>
        <th scope="col">Quiz</th>
        <th scope="col">Score</th>
        <th scope="col">Score (%)</th>
        <th scope="col">Date</th>
          <th scope="col">Time</th>
      </tr>
    </thead>
<tbody>
{% for score in user_scores %}
  <tr>
    <td class="align-middle">{{ loop.index }}</td>
    <td class="align-middle">
  {% if score.universe == 'dc' %}
    {{ score.universe|upper }}
  {% else %}
    {{ score.universe|capitalize }}
  {% endif %}
</td>
    <td class="align-middle">{{ score.score }}</td>
    <td class="align-middle">{{ (score.score / 5) * 100 }}%</td>
            <td class="align-middle">{{ score.quizDateTime.strftime('%d/%m') }}</td>
{#        <td class="align-middle">{{ score.quizDateTime.strftime('%I:%M %p') }}</td>#}
  <td class="align-middle">{{ score.quizDateTime.strftime('%H:%M') }}</td>

  </tr>
        {% endfor %}
      </tbody>
  </table>
        </div>

</main>

<!-- Footer -->
<footer class="footer text-center py-4">
    <div class="container">
        <p>&copy; 2023 Quizzer. All rights reserved.</p>
        <p>Designed and Developed by</p>
        <div class="titleWrapper">
            <h1 class="first">DAD</h1>
            <h1 class="second">JAVA DEVELOPERS</h1>
        </div>
    </div>
</footer>

<!-- Include Bootstrap JS scripts -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js'></script>
<script src="{{ url_for('static', filename='js/home.js') }}"></script>

</body>
</html>