<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Quizzer - Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
</head>

<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg" style="background-color: #a2d2ff;">
    <div class="container">
        <a class="navbar-brand" href="#">Quizzer</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <span class="nav-link">{{ email }}</span>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-4">
    <div class="row">
        <!-- Quizzes -->
        <div class="col-lg-8">
            <div class="quizzes">
                <h1>Quizzes Available</h1>
                <div class="quiz_container">
                    <a href="{{ url_for('quiz', universe='dc', email=email) }}" alt="DC">
                        <div class="card">
                            <div class="wrapper">
                                <img src="https://cdn.wallpapersafari.com/36/65/JRvO27.jpg"
                                     class="cover-image" alt=""/>
                            </div>
                            <img src="https://wallpapercave.com/dwp1x/wp2319913.jpg"
                                 class="title" alt=""/>
                            <img src="https://c4.wallpaperflare.com/wallpaper/450/574/539/comics-justice-league-batman-bruce-wayne-wallpaper-preview.jpg"
                                 class="character" alt=""/>
                        </div>
                    </a>

                    <a href="{{ url_for('quiz', universe='marvel', email=email) }}" alt="Marvel">
                        <div class="card">
                            <div class="wrapper">
                                <img src="https://ggayane.github.io/css-experiments/cards/force_mage-cover.jpg"
                                     class="cover-image" alt=""/>
                            </div>
                            <img src="https://ggayane.github.io/css-experiments/cards/force_mage-title.png"
                                 class="title" alt=""/>
                            <img src="https://ggayane.github.io/css-experiments/cards/force_mage-character.webp"
                                 class="character" alt=""/>
                        </div>
                    </a>
                </div>

            </div>
        </div>

        <!-- History Scores -->
        <div class="col-lg-4">
            <div class="history-scores">
                <h1>History Scores</h1>
                <!-- Add history scores component content here -->
                {% if user_scores %}
                    <ul>
                        {% for score in user_scores %}
                            <li>{{ score.universe }} Quiz - Score: {{ score.score }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p>No quizzes attempted yet.</p>
                {% endif %}
            </div>

            {#            <div class="history-scores">#}
            {#                <h1 class="mb-4">History Scores</h1>#}
            {#                <ul class="list-unstyled">#}
            {#                    {% for score in user_scores %}#}
            {#                        <li class="mb-2">#}
            {#                            <span class="badge badge-primary">{{ score.universe }} Quiz</span>#}
            {#                            <span class="badge badge-success ml-2">Score: {{ score.score }}</span>#}
            {#                        </li>#}
            {#                    {% endfor %}#}
            {#                </ul>#}
            {#            </div>#}


        </div>
    </div>
</div>

<br><br>
<!-- Footer -->
<footer class="footer text-center py-4" style="background-color: #a2d2ff;">
    <div class="container">
        <p>&copy; 2023 Quizzer. All rights reserved.</p>
        <p>Designed and developed by DDA.</p>
    </div>
</footer>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>

</html>
